.content{
  border: solid 25px #B6D8F2;
  border-radius: 25px;
  background: #f7f6cf;
padding: 15px;
}
#output{
  border-top: dotted 20px #4CAF50;
  height: auto;
  font-size: 30px;
  padding-top: 20px;
}
body{
    background: url('../img/totoro.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 25px;
  }
#activate{
  border: 2px solid #4CAF50;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
