body{
  background-color: #FFE9CE;}
  a{
  color:coral;
}
li{
  color: lightblue;
}
img{
  float:right;
}
.intro{
  position: static;
  border-left: 20px solid pink;
  background-color: lightgreen;
  clear:both;
}
