* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #A6F7C3;
  color: white;
  font-size: 30px;
}
/* Style the header */
.header {
  background-color: #DAF7A6;
  padding: 20px;
  text-align: center;
  color: #A6DAF7;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img{
  overflow: auto;
}
