body{
  background: url('../img/lucky-charms.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 25px;
}
.content{
   border-radius: 25px;
  background: #FDFFF5;
border-style: solid;
border: 10px solid #cddcd9;
padding: 50px;
margin: 20px;
}
#apiButton{
  box-sizing: content-box;
  width: 100%;
  border: solid #5B6DCD 10px;
  padding: 5px;
}
h1{
  color: #83B2FF;
}
p{
  color: #FFDAAB;
}
h2{
  color: #8BF18B;
}
