.header {
  border-style: solid;
  border-width: 5px;
  border-color: #CCE7F4
  padding: 50px;
  text-align: center;
  background: #CBE9E2;
  color: white;
  font-size: 30px;
}
.tag {
  border-radius: 20px;
  border: 2px solid orange;
  width: 400px;
  height: 250px;
}

header {
  background: orange;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 2px;
}

.hello {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  color: white;
}

#output {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size:80px;
}
body{
  background: url('../img/AC.png');
  background-repeat: repeat;
  background-size: cover;
}
#text{
  background-color: #d8ccb6;
 border: 15px solid #7a904d;
 padding: 30px;
}
#results{
  background-color: #d8ccb6;
  border: 15px solid #7a904d;
  padding: 30px;
}
h1{
  color:#ff9391;
}
h2{
  color:#a0a6e1;
}
